@import 'src/variables';

.navbar {
  background: $primary-color;
  background: linear-gradient(43deg, $primary-color 0%, $secundary-color 100%);
  color: $light-color;
  font-size: 20px;
  font-weight: 500;
  height: $navbar-height;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 32px;
  }

  .links {
    display: flex;

    a {
      text-decoration: none;
      color: inherit;
      margin-left: 20px;
      cursor: pointer;
      transition: color .2s ease;

      &:hover {
        color: $warm-color;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 0 20px;

    .links {
      display: none;
    }
  }
}